[http]
#   proxy = 192.168.18.1
[user]
    name = Victor Gumayunov
    email = gumayunov@gmail.com
[push]
    default = tracking
#[pager]
#    color = false
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
    renamelimit = 0
[merge]
    summary = true
    tool = vimdiff
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
    gr = log --graph --pretty=format:\"%Cred%h %Cgreen%an%Creset %s %Cred%d\"
    where = branch --contains
[core]
  excludesfile = /home/gva/.gitignore
