[http]
#	proxy = 192.168.18.1
[user]
    name = Victor Gumayunov
	email = gumayunov@gmail.com
#[pager]
#    color = false
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
[diff]
	renamelimit = 0
[merge]
  summary = true
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p
[core]
  excludesfile = /home/gva/.gitignore
