[http]
	proxy = 192.168.18.1
[user]
	email = gumayunov@gmail.com
#[pager]
#    color = false
[color]
	branch = auto
	status = auto
    diff = auto
[diff]
	renamelimit = 0
[alias]
    st = status
    ci = commit
    br = branch
    co = checkout
    df = diff
    lg = log -p

